@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Neucha&display=swap');

/*================================== General Styling ==================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    font-size: 62.5%;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    background: url(../images/background-wallpaper.jpg) center/cover no-repeat fixed;    
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  
h1,
h2,
h3,
#dog-title,
#breed-title,
#user-title,
.view-heading {
    font-family: 'Neucha', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: #455a64;
    margin: 0;
}

.large-title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    padding: 1rem;
}

.home-card p,
.no-results,
.contact-card {
    font-size: 1.5rem;
}

.card-reveal p,
#dog-title,
#breed-title,
#user-title {
    font-size: 2rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.underline {
    text-decoration: underline;
}

.underline-link:hover {
    text-decoration: none;
    border-bottom: 0.2rem solid #26a69a;
}

.list-unstyled {
    list-style-type: none;
}

.p-0 {
    padding: 0;
}

.m-t {
    margin-top: 1rem;
}

.m-tb {
    margin: 3rem 0;
}
/*================================== Colours ==================================*/
nav,
footer,
.btn-cancel,
.btn-contact {
    background-color: #ebf1fa;
}

.icon-links a,
.text-links a {
    color: #000;
}
/*================================== Buttons and links ==================================*/
.btn-return {
    background-color: #ebf1fa;
    color: #000;
    font-size: 1rem;
    border: solid 0.1rem #000;
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.icon-links,
.form-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 1.5rem 0;
}
/*================================== Navbar ==================================*/
/*--- navbar logo ---*/
.brand-logo img {
    height: 4rem;
    width: 4rem;
    border-style: none;
    margin: 0.1rem 0.2rem 0 0.8rem;
}

.logo-text {
    font-family: 'Neucha', cursive;
    color: #000;
    vertical-align: top;
    font-weight: 600;
    padding-left: 0.5rem;
}
/*--- navbar links ---*/
nav ul li a {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1rem;
}

.dropdown-content li a {
    color: #000;
    text-shadow: none;
    background-color: #ebf1fa;
}
/*================================== Cards ==================================*/
.card-panel {
    border: solid 0.25rem #26a69a ;
    border-radius: 1.2rem;
    margin-top: 2rem;
}

.card-container {
    background-color: rgba(235, 241, 250, 0.75);
    margin-top: 2.5rem;
    border-radius: 1.2rem;
}

.title-image {
    height: 50%;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}
/*-- breed_groups page cards --*/
.breed-card,
.admin-card {
    height: 550px
}

.breed-card .card-content,
.admin-card .card-content {
    padding: 0.5rem;
}
/*-- dog_cards template cards --*/
.profile-card {
    height: 500px;
}
/*--- keep user uploaded images the same size ---*/
.dog-image img{
    aspect-ratio: 3/2;    
}
/*--- set position and spacing for cancel and delete buttons ---*/
.card-reveal-delete {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 2rem solid transparent;
}
/*--- remove Materialize margin on buttons ---*/
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin: 0;
}
/*================================== Add Dog Form ==================================*/
.add-form-helper {
    font-size: 0.9rem;
}

.add-radio {
    margin-left: 2rem;
}
/*================================== View Dog ==================================*/
/*-- keep the delete confirmation card reveal at the foot of the view dog card --*/
.view-card .card-reveal {
    position: relative;
    bottom: 0;
}
/*--- view_dog information lists styling ---*/
.view-dog-list p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

.view-dog-list p i {
    margin-right: 1.5rem;
}

hr {
    height: 0.25rem;
    width: 75%;
    margin: 2rem auto;   
    background-color: #26a69a;
}

.view-heading,
.profile-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

blockquote {
    border-left: 5px solid #26a69a;
    font-size: 1.5rem;
}
/*================================== Pagination ==================================*/
.pagination li.active {
    background-color: #26a69a;
}

.pagination li {
    height: 100%;
}

.pagination-links nav {
    background-color: transparent;
    box-shadow: none;
}
/*================================== Flash messages ==================================*/
.flashes h4 {
    width: 60%;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
}
/*================================== Footer ==================================*/
/*--- sticky footer. Credit: https://css-tricks.com/a-clever-sticky-footer-technique/ ---*/
body > footer {
    position: sticky;
    top: 100vh;
  }

.footer-container {
    width: 80%;
}

.text-links {
    font-size: 1rem;
}

.text-links a:hover {
    font-weight: 800;
} 

.contact-links li {
    padding-bottom: 0.75rem;
}
/*================================== Floating scroll to top button ==================================*/
/* Credit: Code provided by https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top and slightly modified */
#myBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #26a69a;
    color: #fff;
    cursor: pointer;
    border: 0.25rem solid #26a69a;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

#myBtn:hover {
    color: #fff;
    background-color: #000;
}
/*================================== Media queries ==================================*/
@media only screen and (min-width: 1441px) {
    .profile-card {
        height: 600px;
    }    
} 