@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Neucha&display=swap');

/*================================== General Styling ==================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    font-size: 62.5%;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; 
    background: url(../images/background-wallpaper.jpg) center/cover no-repeat fixed;    
}

main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  
h1 {
    font-size: 4rem;
    font-family: 'Neucha', cursive;
}

h2 {
    font-family: 'Neucha', cursive;
    font-weight: 700;
    font-size: 3rem;
    color: #455a64;
}

p {
    font-size: 1.4rem;
    padding: 1rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.underline {
    text-decoration: underline;
}

.list-unstyled {
    list-style-type: none;
}
/*================================== Colours ==================================*/
nav,
footer {
    background-color: #ebf1fa;
}

.icon-links a,
.text-links a {
    color: #000;
}

.text-links a:hover {
    /* color: #455a64; */
    font-weight: 800;
} 
/*================================== Navbar ==================================*/
/*--- navbar logo ---*/
.brand-logo img {
    height: 4rem;
    width: 4rem;
    border-style: none;
    margin: 0.1rem 0.2rem 0 0.8rem;
}

.logo-text {
    font-family: 'Neucha', cursive;
    color: #000;
    vertical-align: top;
    font-weight: 600;
    padding-left: 0.5rem;
}
/*--- navbar links ---*/
nav ul li a {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1rem;
}

.dropdown-content li a {
    color: #000;
    text-shadow: none;
    background-color: #ebf1fa;
}
/*================================== Cards ==================================*/
.card-panel {
    border: solid 0.25rem #26a69a ;
    border-radius: 1.2rem;
    margin-top: 2rem;
}
/*================================== Flash messages ==================================*/
.flashes h4 {
    width: 60%;
    border-radius: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
}
/*================================== Footer ==================================*/
/*--- sticky footer. Credit: https://css-tricks.com/a-clever-sticky-footer-technique/ ---*/
body > footer {
    position: sticky;
    top: 100vh;
  }

.icon-links {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 0;
}

.footer-container {
    width: 80%;
}

.text-links {
    font-size: 1rem;
}

.contact-links li {
    padding-bottom: 0.75rem;
}