<!-- Loop through each dog profile --> 
{% for dog in dogs %}                                
    <div class="col s12 m6 l4">
        <div class="card profile-card card-panel">
            <!-- Dog image -->
            <div class="card-image dog-image">
                {% if dog.image_url == "" or dog.image_url is none %}
                <img src="{{ url_for('static', filename='images/default-dog.jpg') }}" alt="image not available" loading="lazy">
                {% else %}
                <img src="{{ dog.image_url }}" alt="image of {{ dog.dog_name|title }} the {{ dog.breed_name|title }}" loading="lazy"> 
                {% endif %}                                                
            </div>
            <!-- Card content -->
            <div class="card-content">
                <p class="card-title">{{ dog.dog_name|title }}</p>
                <p><i class="fas fa-location-dot prefix" aria-hidden="true"></i> {{ dog.location|title }}</p>
                <!-- View dog's full profile -->
                <a href="{{ url_for('view_dog', dog_id=dog._id) }}" class="btn-floating waves-effect waves-light teal lighten-1" aria-label="view dog's full profile">
                    <i class="fa-solid fa-eye" aria-hidden="true"></i></a>
            </div>
            <!-- Only display edit/delete buttons if session user created the dog profile -->
            {% if user._id == dog.created_by or session.admin == True %}
                <!-- Add edit_delete template -->
                {% include 'includes/edit_delete.html' %}
            {% else %}
            <div class="card-action">                                                
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}