<!-- Loop through each dog profile --> 
{% for dog in dogs %}                                
    <div class="col s12 m6 l4">
        <div class="card profile-card card-panel">
            <div class="card-image dog-image">
                {% if dog.image_url == "" or dog.image_url is none %}
                <img src="{{ url_for('static', filename='images/default-dog.jpg') }}" alt="image not available" loading="lazy">
                {% else %}
                <img src="{{ dog.image_url }}" alt="image of {{ dog.dog_name|title }} the {{ dog.breed_name|title }}" loading="lazy"> 
                {% endif %}                                                
            </div>
            <div class="card-content">
                <p class="card-title" id="dog-title">{{ dog.dog_name|title }}</p>
                <p><i class="fas fa-location-dot prefix" aria-hidden="true"></i> {{ dog.location|title }}</p>
                <!-- View dog's full profile -->
                <a href="{{ url_for('view_dog', dog_id=dog._id) }}" class="btn-floating waves-effect waves-light teal lighten-1" aria-label="view dog's full profile">
                    <i class="fa-solid fa-eye" aria-hidden="true"></i></a>
            </div>
            <!-- Only display edit/delete buttons if session user created the dog profile -->
            {% if user._id == dog.created_by or session.admin == True %}
                <div class="card-action form-buttons">
                    <!-- Edit dog profile -->
                    <div>
                        <p>
                            <a href="{{ url_for('edit_dog', dog_id=dog._id) }}" class="waves-effect waves-light teal-text lighten-1" aria-label="edit dog profile">
                                <i class="fa-solid fa-pen-to-square fa-lg center-align" aria-hidden="true"></i></a>
                        </p>
                    </div>
                    <!-- Delete dog profile -->
                    <div>
                        <p>
                            <a href="#!" class="activator waves-effect waves-light red-text" aria-label="delete dog profile from database">
                                <i class="fa-solid fa-trash fa-lg center-align" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </div>
                <!-- Confirm delete, using Materialize card reveal -->
                <div class="card-reveal">
                    <span class="card-title"><i class="fa-solid fa-xmark right" aria-hidden="true"></i></span>
                    <p>Are you sure you want to delete {{ dog.dog_name|title }}?</p>
                    <div class="row">
                        <div class="card-reveal-delete">
                            <div class="card-reveal-delete">
                                <a href="{{ url_for('profile', username=session['user']) }}" class="btn btn-cancel black-text text-shadow waves-effect waves-light" 
                                    aria-label="cancel delete and return to user profile page">
                                    Cancel
                                    <i class="fa-solid fa-rotate-left" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div class="card-reveal-delete">
                                <a href="{{ url_for('delete_dog', dog_id=dog._id) }}" class="btn red white-text waves-effect waves-light text-shadow" aria-label="delete dog profile from database">
                                    Delete
                                    <i class="fa-solid fa-xmark" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
            <div class="card-action">                                                
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}