{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block nav_account %}active{% endblock %}
{% block mobnav_profile %}active{% endblock %}
{% block content %}

<div class="row">
    <div class="col s12 m10 offset-m1 l12 card-container">
        <!-- User welcome card -->
        <div class="col s12 m8 offset-m2">
            <div class="card card-panel">
                <!-- Return to previous page -->
                {% include 'includes/return.html' %}
                <h2 class="center-align">{{ username }}'s den</h2>
                <div class="card-image title-image">
                    <img src="{{ url_for('static', filename='images/profile-img.JPG') }}" alt="smiling man and dog" loading="lazy" />
                </div>
            </div>
        </div>
        <!-- User's dog profiles -->
        <div class="row">
            <div class="col s12">
                <div class="card-panel center-align">
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <h3>My Dogs</h3>
                        </div>
                        <!-- Add dog button link -->
                        <div class="col s2 center-align">
                            <a href="{{ url_for('add_dog') }}" class="btn-floating btn-medium waves-effect waves-light amber accent-4 tooltipped" 
                            data-position="top" data-tooltip="Add New Dog" aria-label="add dog button">
                                <i class="fa-solid fa-plus" aria-hidden="true"></i>
                            </a>
                        </div>
                        <!-- Dog profile cards, using Materialize cards -->
                        <div class="row">
                            <!-- If the session user has created any dog profiles -->
                            {% if dogs|length > 0 %}
                                <!-- Add dog_cards template -->
                                {% include 'includes/dog_cards.html' %}                                
                            <!-- If the session user has not created any dog profiles --> 
                            {% else %}
                            <div class="row center-align">
                                <div class="col s12">
                                    <p>You haven't added a pooch pal yet</p>
                                    <p>Please click <a href="{{ url_for('add_dog') }}">here</a> to create a new dog profile!</p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
