{% extends "base.html" %}
{% block title %}View Dog{% endblock %}
{% block content %}

<div class="row">
    <div class="col s12 m10 offset-m1">
        <div class="card card-panel">
            <!-- Return to previous page -->
            {% include 'includes/return.html' %}
            <!-- Title and image -->
            <h1 class="center-align">{{ dog.dog_name|title }}</h1>
            <div class="card-image dog-image">
                {% if dog.image_url == "" or dog.image_url is none %}
                <img src="{{ url_for('static', filename='images/default-dog.jpg') }}" alt="image not available" loading="lazy">
                {% else %}
                <img src="{{ dog.image_url }}" alt="image of {{ dog.dog_name|title }} the {{ dog.breed_name|title }}" loading="lazy"> 
                {% endif %}                                                
            </div>            
            <!-- breed name -->
            <div class="row">
                <div class="col s12 view-dog-list">                    
                    <p><i class="fas fa-dog prefix teal-text text-lighten-1 fa-2xl" aria-hidden="true"></i>{{ dog.breed_name|title }}</p>
                </div>
            </div>
            <!-- location -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-location-dot prefix teal-text text-lighten-1" aria-hidden="true"></i>
                    <input id="location" name="location" type="text" minlength="3" maxlength="25" 
                        class="validate" required />
                    <label for="location" class="blue-grey-text text-darken-2">
                        Location (Town, City or Postcode)</label>
                </div>
            </div>
            <!-- image url -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix teal-text text-lighten-1" aria-hidden="true"></i>
                    <input id="image" name="image" type="url" class="validate" />
                    <label for="image" class="blue-grey-text text-darken-2">URL of Image of Dog</label>
                    <div class="add-form-helper hide-on-med-and-down">
                        <em>Right-click the image, click 'Copy image address' then paste in here</em>
                    </div>
                    <div class="add-form-helper hide-on-large-only">
                        <em>Hold down image, 'Open image in new tab' then copy and paste the browser address </em>
                    </div>
                </div>
            </div>
            <!-- dog's age -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-ol prefix teal-text text-lighten-1" aria-hidden="true"></i>
                    <input id="age" name="age" type="text" minlength="1" maxlength="2" 
                        class="validate" required />
                    <label for="age" class="blue-grey-text text-darken-2">Dog's Age</label>
                </div>
            </div>
            <!-- dog's sex radio buttons -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-venus-mars prefix teal-text text-lighten-1" aria-hidden="true"></i>
                    <p class="add-radio">
                        <label for="male" class="blue-grey-text text-darken-2">
                            <input name="sex" id="male" value="male" type="radio" checked />
                            <span>Male</span>
                        </label>
                        <label for="female" class="blue-grey-text text-darken-2">
                            <input name="sex" id="female" value="female" type="radio" />
                            <span>Female</span>
                        </label>
                    </p>
                </div>
            </div>
            <!-- dog's size radio buttons -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-weight-scale prefix teal-text text-lighten-1" aria-hidden="true"></i>
                    <p class="add-radio">
                        <label for="small" class="blue-grey-text text-darken-2">
                            <input name="size" id="small" value="small" type="radio" checked />
                            <span>S (0-10kg)</span>
                        </label>
                        <label for="medium" class="blue-grey-text text-darken-2">
                            <input name="size" id="medium" value="medium" type="radio" />
                            <span>M (10-25kg)</span>
                        </label>
                        <label for="large" class="blue-grey-text text-darken-2">
                            <input name="size" id="large" value="large" type="radio" />
                            <span>L (25+kg)</span>
                        </label>
                    </p>
                </div>
            </div>
            <!-- Neutered checkbox -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-neuter prefix teal-text text-lighten-1" aria-hidden="true"></i>
                    <label for="neutered" class="blue-grey-text text-darken-2">
                        <input type="checkbox" class="filled-in" id="neutered" name="neutered" />
                        <span>Neutered</span>
                    </label>
                </div>
            </div>
            <!-- personality -->
            <div class="row">
                <div class="input-field col s12 m-tb">
                    <i class="fas fa-comment-dots prefix teal-text text-lighten-1" aria-hidden="true"></i>
                    <textarea id="personality" name="personality" minlength="5" maxlength="200" 
                        class="materialize-textarea validate" required></textarea>
                    <label for="personality" class="blue-grey-text text-darken-2">
                        Brief personality description</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="form-buttons">
                    <div>
                        <button class="btn waves-effect waves-light" type="submit" aria-label="add new dog button">
                            Add Dog
                            <i class="fa-solid fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div>
                        <a href="{{ url_for('profile', username=session['user']) }}" class="btn red white-text waves-effect waves-light" 
                        aria-label="cancel and return to user profile page">
                            Cancel
                            <i class="fa-solid fa-xmark" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}